[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Wallpaper
Comment=Generates a beautiful Budgie background
Exec=!!LOCATION!!/wallpaper.sh
Icon=!!LOCATION!!/assets/Logo.svg
Terminal=False
Name[en_US]=Wallpaper2
