[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Wallpaper
Comment=Generates a beautiful Budgie background
Exec=!!LOCATION!!/wallpaper.sh
Icon=!!LOCATION!!/Logo.svg
Terminal=False
